/* https://ru.wix.com/website-template/view/html/2502?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates&tpClick=view_button&esi=f45129d3-26f5-4268-8feb-b4977c7388fd*/

html {
  scroll-behavior: smooth;
}
#burgermenu {
  display: none; /*ლეიბლით ვნიშნავთ და აქ აღარ გვჭირდება რომ გამოჩნდეს */
}
.menu-label {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none; /* @media-ზე გამოჩნდება */
}
.menu-label span {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  transition: all 0.5s ease; /* ანიმაცია */
}

#burgermenu:checked ~ .menu-label span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
  background-color: red;
}

/* 5️⃣ ANIMATION - მეორე ხაზი (შუა)
   
   მეორე ხაზი უბრალოდ ქრება:
   - opacity: 0 - სრულიად გამჭვირვალე
   */

#burgermenu:checked ~ .menu-label span:nth-child(2) {
  opacity: 0;
}

/* 6️⃣ ANIMATION - მესამე ხაზი (ქვედა)
   
   მესამე ხაზი -45 გრადუსით მბრუნდება:
   - rotate(-45deg) - უკანა ბრუნი
   - translate(10px, -10px) - ზემოთ მოგვალიდება
   
   შედეგი: X-ის ქვედა ნახევარი
   
   კომბინირებული ეფექტი: ≡ ხდება X-ი */

#burgermenu:checked ~ .menu-label span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
  background-color: red;
}

.mobile-nav {
  flex-direction: column;
  width: 50%;
  margin-top: 2rem;
  margin-left: 10rem;
  gap: 1rem;
  display: none;
  position: fixed;
  inset: 0;
  transition: all 0.3s ease;
}
.mobile-nav a {
  text-decoration: none;
  color: black;
}
#burgermenu:checked ~ .mobile-nav {
  display: flex;
}
@media (max-width: 800px) {
  header {
    opacity: 0;
  }

  .logo h1 {
    font-size: 1.4rem;
  }

  .navbar {
    display: none;
  }

  /* ბურგერის აიკონი მხოლოდ მობილურზე ჩნდება */
  .menu-label {
    margin: 10rem 40rem;
    display: flex;
  }
}

@media (min-width: 800px) {
  .mobile-nav {
    display: none !important;
  }
}

.zedalogo {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.logo {
  margin-top: 1rem;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
}
nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

nav a {
  border-right: 1px solid black;
  padding: 20px;
  width: 10rem;
  text-decoration: none;
  text-align: center;
  color: black;
  text-wrap: nowrap;
}
nav a:nth-child(1) {
  border-left: 1px solid black;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.myblog_mtavari{
   display: flex;
   flex-direction: column;
   width: 60rem;
   margin-bottom: 0rem;
   padding-bottom: 2rem;
   border-bottom: 0.1rem solid black;
     /* background-color: #8f86865e; */
}
.myblognav{
   display: flex;
  justify-content: start; 
   margin-top: 3rem;
  width: 100%;
  

}

.myblognav a {
  
  width: 5rem;
  text-decoration: none;
  color: black;
  text-wrap: nowrap;
}

.selected {
  font-weight: 700;
  color: rgb(101, 147, 207) !important;
}


.leftright{
   display: flex;
  justify-content: start; 
  margin-top: 3rem;
  width: 100%;
  gap: 2rem;
 
}


.myblogleft, .myblogright {
  width: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
 
}

.myblogsurati_texti {
  border: 0.1rem solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.myblogtexti {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 1.5rem;
line-height: 1.5rem;
}


 .myblogsurati_texti img {
    width: 100% !important;
    height: auto !important;
  }

.galurjeba:hover {
  color: blue;
}

.trgsamtertil{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
}
.samtertil{
  position: relative;
  overflow: hidden; 
  width: 2rem;
    height: 3rem;
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 ;
}
 .tert1{
  position: absolute;
   top: -0.3rem;
  left: 0.8rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.tert2{
  position: absolute;
   top: 0rem;
  left: 0.8rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.tert3{
  position: absolute;
   top: 0.35rem;
  left: 0.8rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.footer {
  border-top: 0.1rem solid black;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.isari svg {
  height: 50px;
  width: 20px;
}

.contact h1 {
  font-weight: bold;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*ეს Input-ების ზემოთ რომ სახელები აწერია იმის სტილია*/
label {
  color: gray;
}
/*სახელის და გვარის სტილი*/
.firstname,
.lastname {
  margin: 5px;
}
/*ასევე, ოღონდ input-ების*/
.fname,
.lname {
  width: 260px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
}
/*ეს ემაილის ადგილის გასტილვაა*/
.email {
  margin: 5px;
  margin-top: 20px;
}
/* ეს ემაილის ჩასაწერი ადგილის სტილია*/
.emailinput {
  width: 565px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
}
/*ეს მესიჯის სტილია*/
.message {
  margin: 5px;
  margin-top: 20px;
}
/*ეს კი მესიჯის ჩასაწერი ადგილის სტილია*/
.messageinput {
  width: 565px;
  height: 100px;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}
/*ეს როდესაც input-ს ვაჭერთ, გარშემო ბორდერები რო გაუქროს იმის გასტილვაა*/
input:focus {
  outline: none;
}
/*ეს ფორმის ღილაკის სტილია*/
.submit {
  display: block;
  margin: auto;
  border: none; /* ამით border-ს ვაუქმებთ*/
  font-size: 18px;
  width: 200px; /*სიგრძის ცვლილები*/
  height: 40px;
  color: white;
  background-color: rgba(88, 25, 170, 0.822);
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.copyright {
  display: flex;
  background-color: rgba(228, 219, 219, 0.548);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.copyright p span {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .surati_texti {
    width: 80%;
  }
}
@media (max-width: 940px) {
  .never {
    flex-direction: column;
    padding-bottom: 5rem;
  }
}

@media (max-width: 840px) {
  .suratiani {
    width: 90%;
  }
  .suratiani img {
    width: 100% !important;
    height: auto !important;
  }
  .mtavari {
    flex-direction: column;
  }
  .left {
    border-right: none;
    width: 100%;
    margin-bottom: 50px !important;
  }
  .right {
    width: 100%;
    margin-bottom: 50px !important;
  }
}
