/* https://ru.wix.com/website-template/view/html/2502?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates&tpClick=view_button&esi=f45129d3-26f5-4268-8feb-b4977c7388fd*/

#burgermenu {
  display: none; /*ლეიბლით ვნიშნავთ და აქ აღარ გვჭირდება რომ გამოჩნდეს */
}
.menu-label {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none; /* @media-ზე გამოჩნდება */
}
.menu-label span {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  transition: all 0.5s ease; /* ანიმაცია */
}

#burgermenu:checked ~ .menu-label span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
  background-color: red;
}

/* 5️⃣ ANIMATION - მეორე ხაზი (შუა)
   
   მეორე ხაზი უბრალოდ ქრება:
   - opacity: 0 - სრულიად გამჭვირვალე
   */

#burgermenu:checked ~ .menu-label span:nth-child(2) {
  opacity: 0;
}

/* 6️⃣ ANIMATION - მესამე ხაზი (ქვედა)
   
   მესამე ხაზი -45 გრადუსით მბრუნდება:
   - rotate(-45deg) - უკანა ბრუნი
   - translate(10px, -10px) - ზემოთ მოგვალიდება
   
   შედეგი: X-ის ქვედა ნახევარი
   
   კომბინირებული ეფექტი: ≡ ხდება X-ი */

#burgermenu:checked ~ .menu-label span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
  background-color: red;
}

.mobile-nav {
  flex-direction: column;
  width: 50%;
  margin-top: 2rem;
  margin-left: 10rem;
  gap: 1rem;
  display: none;
  position: fixed;
  inset: 0;
  transition: all 0.3s ease;
}
.mobile-nav a {
  text-decoration: none;
  color: black;
}
#burgermenu:checked ~ .mobile-nav {
  display: flex;
}
@media (max-width: 800px) {
  header {
    opacity: 0;
  }

  .logo h1 {
    font-size: 1.4rem;
  }

  .navbar {
    display: none;
  }

  /* ბურგერის აიკონი მხოლოდ მობილურზე ჩნდება */
  .menu-label {
    margin: 10rem 25rem;
    display: flex;
  }
}

@media (min-width: 800px) {
  .mobile-nav {
    display: none !important;
  }
}

.zedalogo {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.logo {
  margin-top: 1rem;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
}
nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

nav a {
  border-right: 1px solid black;
  padding: 20px;
  width: 10rem;
  text-decoration: none;
  text-align: center;
  color: black;
  text-wrap: nowrap;
}
nav a:nth-child(1) {
  border-left: 1px solid black;
}

.gamoyofa {
  font-weight: 700;
  color: blueviolet;
  font-size: x-large;
}
.main {
}
.FEATURED_POST {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50rem;
  width: 50rem;
}
.absol {
  height: 1.5rem;
  width: 20rem;
  border: 0.1rem solid black;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.4em;
  position: relative;
  z-index: 2;
  margin-bottom: -2rem;
  background-color: white;
}
.suratiani {
  border: 0.1rem solid black;
  padding-bottom: 3rem;
  z-index: 1;
}
.suratiani p,
h2 {
  margin-left: 2rem;
}
.suratiani p:last-child {
  font-size: 1.2rem;
}

.galurjeba:hover {
  color: blue;
}
.never {
  width: 100%;
  height: 20rem;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.never h1 {
  margin-bottom: 7rem;
  font-size: 3rem;
}
.email :nth-child(n + 1) {
  border: none;
  padding: 1rem;
}
#email {
  border-bottom: 0.1rem solid black;
}
.subscribe {
  width: 10rem;
  color: white;
  background-color: rgb(90, 45, 173);
  cursor: pointer;
  transition: 1s;
  margin-left: 1rem;
}
.subscribe:hover {
  background-color: black;
}
.mtavari {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.left {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-right: 0.1rem solid black;
  margin-bottom: 100rem;
}

.mtavari h2 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  width: 48%;
  letter-spacing: 0.7rem;
  font-weight: 100;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  margin-top: 1rem;
  margin-bottom: 100rem;
}
/* .surati { height: 353px; }*/

.surati_texti {
  border: 0.1rem solid black;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.texti {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.qvedatexti {
  width: 90%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.205);
}
.viewcomments {
  display: flex;
}

.moreposts {
  width: 10rem;
  height: 3rem;
  color: white;
  background-color: rgb(90, 45, 173);
  cursor: pointer;
  transition: 1s;
  margin-left: 1rem;
}

.moreposts:hover {
  background-color: black;
}

.right p {
  margin: 2rem 0;
  width: 282px;
  line-height: 2rem;
  font-size: large;
}
.right a {
  margin: 2rem 0;
  margin-left: -10rem;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.right a:hover {
  color: blue;
}
.xazi {
  margin: 2rem 0;
  width: 282px;
  height: 0.07rem;
  background-color: black;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.grid img {
  width: 7rem;
  display: block;
  transition: 0.3s ease;
}
.gridimg {
  position: relative;
  overflow: hidden;
}
.imgcover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.205);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  text-align: center;
  transition: 0.3s ease;
}
.imgcover p {
  margin: 0 !important;
  padding: 0 !important;
}
.gridimg:hover img {
  filter: brightness(70%);
}
.gridimg:hover .imgcover {
  opacity: 1;
}
.right a:nth-of-type(2) {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  margin: 2rem;
  padding: 1rem 1.5rem;
}
.right i {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.right a:nth-of-type(2):hover {
  color: black;
}

.rightemail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}
.rightemail :nth-child(n + 1) {
  height: 2.2rem;
}
.rightchecklabel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightchecklabel label {
  margin-top: 1rem;
}
.rightsubscribe {
  border: none;
  height: 3rem !important;
  background-color: rgb(95, 5, 179);
  color: white;
}

.rightsubscribe:hover {
  background-color: black;
  cursor: pointer;
}

. footer {
  border-top: 0.1rem solid black;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.isari svg {
  height: 50px;
  width: 20px;
}

.contact h1 {
  font-weight: bold;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*ეს Input-ების ზემოთ რომ სახელები აწერია იმის სტილია*/
label {
  color: gray;
}
/*სახელის და გვარის სტილი*/
.firstname,
.lastname {
  margin: 5px;
}
/*ასევე, ოღონდ input-ების*/
.fname,
.lname {
  width: 260px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
}
/*ეს ემაილის ადგილის გასტილვაა*/
.email {
  margin: 5px;
  margin-top: 20px;
}
/* ეს ემაილის ჩასაწერი ადგილის სტილია*/
.emailinput {
  width: 565px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
}
/*ეს მესიჯის სტილია*/
.message {
  margin: 5px;
  margin-top: 20px;
}
/*ეს კი მესიჯის ჩასაწერი ადგილის სტილია*/
.messageinput {
  width: 565px;
  height: 100px;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}
/*ეს როდესაც input-ს ვაჭერთ, გარშემო ბორდერები რო გაუქროს იმის გასტილვაა*/
input:focus {
  outline: none;
}
/*ეს ფორმის ღილაკის სტილია*/
.submit {
  display: block;
  margin: auto;
  border: none; /* ამით border-ს ვაუქმებთ*/
  font-size: 18px;
  width: 200px; /*სიგრძის ცვლილები*/
  height: 40px;
  color: white;
  background-color: rgba(88, 25, 170, 0.822);
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.copyright {
  display: flex;
  background-color: rgba(228, 219, 219, 0.548);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.copyright p span {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .surati_texti {
    width: 80%;
  }
}
@media (max-width: 940px) {
  .never {
    flex-direction: column;
    padding-bottom: 5rem;
  }
}

@media (max-width: 840px) {
  .suratiani {
    width: 90%;
  }
  .suratiani img {
    width: 100% !important;
    height: auto !important;
  }
  .mtavari {
    flex-direction: column;
  }
  .left {
    border-right: none;
    width: 100%;
    margin-bottom: 50px !important;
  }
  .right {
    width: 100%;
    margin-bottom: 50px !important;
  }
}
